// Footer styles
@use 'base/variables' as vars;

footer{
  background-color: vars.$color-black;
  color: vars.$color-white;
  padding: vars.$space-5 0;
  box-shadow: vars.$shadow-sm;
  position: relative;
  z-index: 100;

  .container {
    // max-width: vars.$container-max-width;
    // margin: 0 auto;
    // padding: 0 vars.$container-padding;
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
  }

  &.site-footer{
    .site-info{
      &-wrapper{
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 2rem;

        .footer-menu-wrapper{
          .footer-menu-label{
            h3{

            }
          }
          .footer-menu{
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
            // gap: 1rem;

            li{
              list-style: none;
              margin-bottom: 1rem;
              a{
                color: vars.$color-white;
                text-decoration: none;
                transition: vars.$transition-base;

                &:hover {
                  color: vars.$color-primary;
                }
              }
            }
          }
        }
      }
    }
  }
}