// Footer styles
@use 'base/variables' as vars;

.footer-container{
  position: relative;
footer{
  background-color: vars.$color-black;
  color: #a5a4a4;
  padding: vars.$space-5 0;
  box-shadow: vars.$shadow-sm;
  position: relative;
  z-index: 100;

  .container {
    // max-width: vars.$container-max-width;
    // margin: 0 auto;
    // padding: 0 vars.$container-padding;
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
  }

  &.site-footer{
    clip-path: polygon(0px 50px, 100% 0px, 100% 100%, 0px 100%);
    .site-info{
      &-wrapper{
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 2rem;

        .footer-menu-wrapper{
          .footer-menu-label{
            h3{

            }
          }
          .footer-menu{
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
            // gap: 1rem;

            li{
              list-style: none;
              margin-bottom: 1rem;
              a{
                color: #a5a4a4;
                text-decoration: none;
                transition: vars.$transition-base;

                &:hover {
                  color: vars.$color-yellow;
                }
              }
            }
          }
        }

        .logo-wrapper{
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .footer-company-logo{
            img{
              width: 100%;
              max-width: 200px;
              height: auto;
              filter: brightness(0) invert(1);
            }
          }
          .social-media-wrapper{
            .social-media-icons{
              .social-icons{
                display: flex;
                align-items: center;
                padding: 0;
                margin: 0;
                li{
                  margin-right: 1rem;
                  list-style: none;
                  a{
                    display: flex;
                    align-items: center;
                    justify-content: center;

                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
}